/*CSS DOCUMENT */


body {
background-color: rgba(216, 146, 121, 0.282) ;
	color: #333333;
	font-family: Helvetica, sans-serif;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
}

h1 {
	font-size: 2em; 
	font-weight: bold;
}

h2 {
	font-size: 1.5em; 
	font-weight: bold;
	padding: 1em 0em;
}

h3 {
	font-size: 1em; 
	font-weight: medium;
	padding-bottom: .5rem;
}

p{
	font-size: 1em; 
	font-weight: lighter;
	padding-bottom: 1em;
}

figcaption{
	font-size: .75em; 
	font-weight: light;
}